.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{
  display:flex;
  justify-content: center;
  font-family:sans-serif;
  color:darkslategray;
  background-color: aliceblue;
  
}

.form{
  margin-top:25px;
  border: 1px solid black;
  box-shadow: 5px 0 6px 0 hsl(0 0% 0% / 0.2);
  width:30%;
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
}


.cv__view {
  padding: 50px;
  width: 30%;
  height: 600px;
  max-width: 595px;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 5px 0 6px 0 hsl(0 0% 0% / 0.2);
  margin-left:50px; 
  margin-top: 30px;
  background-color: hsl(0, 0%, 100%);
}

.cv__view h3,h1 {
  text-align: center;
  color:rgb(14, 30, 78);
}

.cv__view h4 {
  color: rgb(14, 30, 78);
}